# ======================= Personal ignore ======================= 

# Draw io

*.drawio.bkp

# Ignore temporaries from GameCI

/[Aa]rtifacts/
/[Cc]odeCoverage/


# ======================= Official ignore List ======================= 

# [is for] ([date update]) : [url source]

# ======================= Official ignore - [is for] ======================= 

