# ======================= Personal ignore ======================= 

# Draw io

*.drawio.bkp


# ======================= Official ignore List ======================= 

# [is for] ([date update]) : [url source]

# ======================= Official ignore - [is for] ======================= 

